<div class="bg-slate-900">
  <div class="flex flex-col py-16 px-10 container mx-auto">
    <div class="flex flex-col md:flex-row">
      <div class="flex flex-col md:w-1/2 pr-8">
        <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Fhealthstay.png&w=1536&q=100" class="w-48 h-10">
        <div class="pt-4 text-white text-xs font-normal leading-snug">
          HealthStay provides a digital shop window for monetizing your medical tourism products.
        </div>
      </div>
      <div class="flex flex-col pt-8 md:pt-0 md:flex-row md:w-1/2 md:justify-between">
        <div class="flex flex-col md:pl-16">
          <div class="pb-4 md:pb-8 text-white text-base font-bold uppercase">COMPANY</div>
          <a class="pb-4 text-white text-xs font-normal">Terms &amp; Conditions</a>
          <a class="pb-4 text-white text-xs font-normal">Privacy Policy</a>
        </div>

        <div class="flex flex-col">
          <div class="pt-4 md:pt-0 pb-4 md:pb-8 text-white text-base font-bold uppercase">
            QUICK LINKS
          </div>
          <a target="_blank" class="pb-4 text-white text-xs font-normal">Contact</a>
        </div>

        <div class="flex flex-col">
          <div class="pt-4 md:pt-0 pb-4 md:pb-8 text-white text-base font-bold uppercase">
            Contact Details
          </div>
          <div class="text-white text-xs font-normal">
            Email Address
          </div>
          <div class="pb-8 text-white text-base font-medium">
            info&#64;healthstay.io</div>
            <div class="text-white text-xs font-normal">
              Contact Number
            </div>
            <div class="pb-8 text-white text-base font-medium">
              (+971)56 925 2424
            </div>
            <div class="text-white text-xs font-normal">Mobile Number</div>
            <div class="pb-4 md:pb-8 text-white text-base font-medium">(+971)58 500 4274</div>
          </div>
      </div>
    </div>
    <div class="my-10 h-[1px] border border-white"></div>

    <div class="flex flex-col md:flex-row justify-between">
      <div class="text-white text-sm md:text-base font-medium">
        2024 Copyright &copy; HealthStay.io | All Rights Reserved
      </div>

      <div class="pt-4 md:pt-0 flex justify-center items-center gap-8">
        <a target="_blank" href="https://www.facebook.com/beaubelladxb">
          <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Ffacebook.png&w=1536&q=100"
            class="inline w-5 h-5"
          >
        </a>
        <a target="_blank" href="https://www.instagram.com/healthstay.io/">
          <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Finstagram.png&w=1536&q=100"
            class="inline w-5 h-5"
          >
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/healthstay/">
          <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flinkedin.png&w=1536&q=100"
            class="inline w-5 h-5"
          >
        </a>
      </div>
    </div>
  </div>
</div>
