<div class="w-full py-10 md:py-14 bg-slate-100 flex-col justify-center items-center gap-14 inline-flex">
  <h2 class="text-center text-zinc-800 text-3xl font-bold leading-10">
    Trusted by Reputed Partners in UAE.
  </h2>

  <div class="grid px-16 justify-center items-center gap-32  sm:grid-cols-2 lg:grid-cols-4">
    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2Fsaudi_german.png&w=1536&q=100"
     class="w-36"
     />
    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2Fkings_college_hospital.png&w=1536&q=100"
     class="w-36"
     />
    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2Fetihad_airways.png&w=1536&q=100"
     class="w-36"
     />
    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2Fjumeirah.png&w=1536&q=100"
     class="w-36"
     />

    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2Fdoctify.png&w=1536&q=100"
     class="w-36"
     />
    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2FMBRIF.png&w=1536&q=100"
     class="w-36"
     />
    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2FDHA.png&w=1536&q=100"
     class="w-36"
     />
    <img
     src="https://healthstay.io/_vercel/image?url=%2Fimages%2Fpartners%2FDHX.png&w=1536&q=100"
     class="w-36"
     />
    </div>
</div>
