<div class="flex px-4 py-10 md:py-20 md:px-10 container gap-6 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="flex flex-col grow">
      <div class="text-teal-300 text-base font-medium leading-tight">How It Works?</div>
      <div class="text-zinc-800 text-3xl font-bold capitalize leading-10">
        Book entire medical tourism packages in minutes
      </div>
      <div class="pt-8 lg:grow pr-4 text-neutral-400 text-sm font-medium leading-tight">
        HealthStay provides a digital shop window for monetizing your medical tourism products. Our CRM streamlines data management, enabling your agents to seamlessly communicate, convert leads, and coordinate consultations, sales, and travel.
      </div>
      <div class="mt-4 mb-4 md:mb-0 lg:mt-0">
        <div class="h-12 px-7 py-3.5 bg-blue-950 rounded-full justify-center items-center gap-2.5 inline-flex">
          <a [routerLink]="['/register']" class="text-white font-semibold">
            Sign up Here
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col pb-4">
      <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Fhow-it-works%2Fimg.png&w=1536&q=100" class="max-h-[350px]">
    </div>
    <div class="flex flex-col">
      <div class="flex">
        <div class="px-2 md:px-6 self-center">
          <div class="w-14 h-14 relative">
            <div class="w-14 h-14 left-0 top-0 absolute bg-cyan-100 rounded-full"></div>
            <div class="w-8 h-8 left-[12px] top-[12px] absolute bg-teal-300 rounded-full"></div>
            <div class="w-3 h-3 left-[21px] top-[16px] absolute text-center text-white text-base font-semibold leading-normal">1</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="pb-4 text-blue-950 text-base font-semibold capitalize leading-normal">
            Procedure breakdown
          </div>
          <div class="text-neutral-400 text-sm font-medium leading-tight">
            A personalized procedure page breaking down all procedural information and requirements, and serving as an FAQ, where patients can generate entire packages in seconds.
          </div>
        </div>
      </div>
      <div class="flex py-6">
        <div class="px-2 md:px-6 self-center">
          <div class="w-14 h-14 relative">
            <div class="w-14 h-14 left-0 top-0 absolute bg-cyan-100 rounded-full"></div>
            <div class="w-8 h-8 left-[12px] top-[12px] absolute bg-teal-300 rounded-full"></div>
            <div class="w-3 h-3 left-[21px] top-[16px] absolute text-center text-white text-base font-semibold leading-normal">2</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="pb-4 text-blue-950 text-base font-semibold capitalize leading-normal">
            AI generated packages
          </div>
          <div class="text-neutral-400 text-sm font-medium leading-tight">
            Our algorithms generate personlized packages in seconds, providing multiple options for patients, empowering them to customize and choose the best option for themselves.
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="px-2 md:px-6 self-center">
          <div class="w-14 h-14 relative">
            <div class="w-14 h-14 left-0 top-0 absolute bg-cyan-100 rounded-full"></div>
            <div class="w-8 h-8 left-[12px] top-[12px] absolute bg-teal-300 rounded-full"></div>
            <div class="w-3 h-3 left-[21px] top-[16px] absolute text-center text-white text-base font-semibold leading-normal">3</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="pb-4 text-blue-950 text-base font-semibold capitalize leading-normal">
            Book and Travel Instantly
          </div>
          <div class="text-neutral-400 text-sm font-medium leading-tight">
            Patients can book and pay for their medical tourism journey on the front-end, including scheduling tele-consultations and uploading their medical documentation to receive updated personalized quotations.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
