<div class="bg-slate-100">
  <div class="flex flex-col px-4 py-10 md:py-20 md:px-10 container mx-auto">
    <div class="pb-8 md:pb-16">
      <div class="text-zinc-800 text-3xl font-bold leading-10">Monetize Your Medical Tourism Products</div>
    </div>

    <div class="flex flex-col items-center md:flex-row gap-6">
      <a [routerLink]="['/register']" class="relative">
        <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg.png&w=1536&q=100">

        <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg_4.png&w=1536&q=100" class="absolute bottom-4 right-0 pr-4">

        <div class="absolute bottom-8 left-0 h-9 flex-col justify-start items-start pl-4 inline-flex">
          <div class="text-white text-xl font-semibold leading-normal">Hair Transplant</div>
          <div class="text-white text-xs font-medium leading-tight">Sign up here.</div>
        </div>
      </a>

    <div class="flex flex-col items-center gap-6 grow">
      <a [routerLink]="['/register']" class="relative">
        <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg_1.png&w=1536&q=100">

        <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg_4.png&w=1536&q=100" class="absolute bottom-4 right-0 pr-4">

        <div class="absolute bottom-8 left-0 h-9 flex-col justify-start items-start pl-4 inline-flex">
          <div class="text-white text-xl font-semibold leading-normal">Veneer</div>
          <div class="text-white text-xs font-medium leading-tight">Sign up here.</div>
        </div>
      </a>
      <div class="flex flex-col md:flex-row gap-6">
        <a [routerLink]="['/register']" class="relative">
          <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg_2.png&w=1536&q=100">

          <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg_4.png&w=1536&q=100" class="absolute bottom-4 right-0 pr-4">

          <div class="absolute bottom-8 left-0 h-9 flex-col justify-start items-start pl-4 inline-flex">
            <div class="text-white text-xl font-semibold leading-normal">Liposuction</div>
            <div class="text-white text-xs font-medium leading-tight">Sign up here.</div>
          </div>
        </a>
        <a [routerLink]="['/register']" class="relative">
          <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg_3.png&w=1536&q=100">

          <img src="https://healthstay.io/_vercel/image?url=%2Fimages%2Flanding%2Ftreatment%2Fimg_4.png&w=1536&q=100" class="absolute bottom-4 right-0 pr-4">

          <div class="absolute bottom-8 left-0 h-9 flex-col justify-start items-start pl-4 inline-flex">
            <div class="text-white text-xl font-semibold leading-normal">Breast Implantation</div>
            <div class="text-white text-xs font-medium leading-tight">Sign up here.</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
</div>
